<template>
  <div>
    <h2>表名: <%= table.TABLE_NAME %></h2>
    <p>表描述: <%= table.TABLE_COMMENT %></p>
    <hr />
    <ul>
      <%_ for(let i = 0; i < columns.length; i++) { _%>
      <li>
        <span>字段描述: <%= extInfo[columns[i].COLUMN_NAME]['label'] %></span>
        <span>字段名: <%= columns[i].COLUMN_NAME %></span>
        <span>字段类型: <%= columns[i].DATA_TYPE %></span>
      </li>
      <%_ } _%>
    </ul>
  </div>
</template>

<script setup name=""></script>

<style scoped lang="scss"></style>
